uv.lock
.claude
/.idea
*/*.log
/.coverage
htmlcov
*.info
*/*.egg-info
transcriptions
*.txt
*.srt
*.vtt
/src-tauri/target/
/build
/dist
/node_modules
/package-lock.json
/src-tauri/dist/
/src-tauri/build/
/target
